@import 'tailwindcss';

.container-notificacao {
    border: 1px solid var(--GrayFy);
    border-radius: 1em;
    overflow: hidden;
    overflow-y: auto;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.4s cubic-bezier(0.4,0,0.2,1), opacity 0.3s;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.container-notificacao.aberta {
    max-height: 600px; /* ajuste conforme necessário */
    opacity: 1;
}

.box-notificacao {
    display: flex;
    flex-direction: column;
    padding: 1em;
    background-color: var(--WhiteFy);
    border-bottom: 1px solid var(--GrayFy);
}

.titulo-notificacao {
    font-weight: bold;
}

.conteudo-notificacao {
    color: var(--BlackFy);
}

.btn_notificacao {
    color: var(--DarkBlueFy);
    font-weight: bold;
    background-color: var(--WhiteFy);
    transition: ease-in-out 0.2s;
    border: 2px solid var(--LightBlueFy);
}

.btn_notificacao:hover {
    cursor: pointer;
    color: var(--WhiteFy);
    background-color: var(--DarkBlueFy);
    border: 2px solid var(--DarkBlueFy);
}

.btn_notificacao_confirmar {
    color: var(--WhiteFy);
    font-weight: bold;
    background-color: var(--LightBlueFy);
    border: var(--LightBlueFy) 2px solid;
    transition: ease-in-out 0.2s;
}

.btn_notificacao_confirmar:hover {
    cursor: pointer;
    color: var(--WhiteFy);
    background-color: var(--DarkBlueFy);
    border: 2px solid var(--DarkBlueFy);
}
