@import "tailwindcss";


.card-kpi{
    background-color: white;
    border-radius: 10px;
    border: var(--LightGrayFy) 1px solid;
    padding: 20px;
    margin: 0.2em;
    width: 100%;
    display: flex;

    span{
        font-size: 3em;
        font-weight: 600;
        color: var(--DarkGrayFy);
        border-left: 10px solid var(--RedAlertFy);
        padding: 0 1em;
    }
    p{
        text-align: center;
        font-weight: 700;
    }
}