@import 'tailwindcss';

:root {
    --blue-detail: #008cff
}

.inputContainer {
    display: flex;
    flex-direction: column;
    width: fit-content;

    label {
        width: fit-content;
        font-size: 14px;
        font-weight: bold;
        color: #21272A;
    }

    .inputField {
        width: 300px;
        border-bottom: 1px solid #C1C7CD;
        font-size: 14px;
        padding: 10px 0 2px 16px;

        caret-color: var(--blue-detail);

        outline: none;
    }

    .inputField:focus {
        border-bottom-color: var(--blue-detail);
    }
}