@import 'tailwindcss';

.agendas-diario {
    display: flex;
    flex-direction: column;
    gap: 1em;
    height: 44vh;
    overflow-y: scroll;
    width: 100%;
    border-radius: 1em;
    padding: inherit;

}

.second-section {
    width: 100%;
    height: 50%;
    justify-content: space-between;

}

.agendas-section {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 40%;
    height: 125%;
    padding: 1em;
    border-radius: 1em;
    background-color: var(--TrueWhiteFy);
    border: var(--LightGrayFy) 1px solid;
}

.grafico-section {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 61%;
    height: fit-content;
    padding: 1em;
    border-radius: 1em;
    background-color: var(--TrueWhiteFy);
    border: var(--LightGrayFy) 1px solid;
}