@import 'tailwindcss';


.menu-lateral{ 
    width: 6vw;
    height: 100vh;
    background-color: var(--DarkBlueFy);
    position: fixed;    
    z-index: 1;
    transition: width 0.3s;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden;

    &.expandido {
        width: 17vw;
    }
}

.btns-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-top: -12em;
    height: 50%;
    justify-content: space-evenly;
    gap: 0.5em;

    button{
        background-color: var(--BlueFy);
        border: none;
        color: var(--WhiteFy);
        font-size: 1em;
        padding: 0.5em 1em;
        cursor: pointer;
        transition: all 0.5s;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5em;
        border-radius: 0.5em;

        &:hover{
            background-color: var(--DarkestBlueFy);
        }

        &.active{
            background-color: var(--DarkestBlueFy);
        }
    }
}

.btn-sair{
    background-color: var(--RedFyTransparente);
    border: none;
    /* border-left: var(--RedFy) 5px solid; */
    color: var(--WhiteFy);
    font-size: 1em;
    padding: 0.5em 1em;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    border-radius: 0.5em;

    &:hover{
        background-color: var(--DarkRedFy);
    }
}

.menu-label {
  margin-left: 1em;
  white-space: nowrap;
  font-size: 1em;
  font-weight: 500;
  color: var(--WhiteFy);
}

.btn-expandir {
    background-color: var(--BlueFy);
    border: none;
    color: var(--WhiteFy);
    font-size: 1em;
    padding: 0.5em 1em;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    border-radius: 0.5em;

    &:hover{
        background-color: var(--DarkestBlueFy);
    }
}