@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";


/* * {
    font-family: Montserrat, sans-serif;
    padding: 0;
    margin: 0;
} */

.background {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--WhiteFy);
}

.card {
    display: flex;
    flex-direction: row;
    min-width: 70vw;
    min-height: 70vh;
    background-color: #FFF;
    border-radius: 3em;
    justify-content: space-between;
    overflow: hidden;
    margin: 1.5em;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    gap: 0.3em;

    a {
        color: var(--LightBlueFy);
        text-decoration: none;
        text-align: start;
        font-weight: 600
    }

    h2 {
        font-weight: 500;
    }

    form {
        display: flex;
        flex-direction: column;
        width: 80%;

        p {
            font-size: small;
            color: var(--GrayFy);
            margin: 0;
        }

        a {
            color: var(--DarkBlueFy);
            font-weight: 600;
            font-size: small;
            text-align: end;
            text-decoration: none;
            margin: 0.8em;
        }

        button {
            background-color: var(--LightBlueFy);
            color: var(--WhiteFy);
            font-size: medium;
            font-weight: 600;
            /* border: var(--DarkestBlueFy) 2px solid; */
            padding: 0.5em 2em;
            transition: ease-in-out 0.2s;
        }

        button:hover {
            cursor: pointer;
            background-color: var(--DarkBlueFy);
        }

    }

    input {
        border: none;
        border-bottom: var(--LightGrayFy) 2px solid;
        padding: 1em;
        width: 100%;
        placeholder {
            color: var(--GrayFy);
        }
        &:focus {
            outline: none;
            border-bottom: var(--LightBlueFy) 2px solid;
        }
    }

    .btn_google {
        background-color: transparent;
        color: var(--DarkestBlueFy);
        border-radius: 2em;
        font-size: larger;
        font-weight: 600;
        border: var(--DarkestBlueFy) 2px solid;
        padding: 0.5em 2em;
        transition: ease-in-out 0.2s;
    }

    button:hover {
        cursor: pointer;
        background-color: var(--DarkBlueFy);
        color: var(--WhiteFy);
    }



}

.cadastro-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 3em;
    background-color: var(--DarkestBlueFy);
    color: var(--WhiteFy);
    gap: 1em;

    a {
        background-color: transparent;
        color: var(--WhiteFy);
        font-size: larger;
        font-weight: 600;
        border: var(--WhiteFy) 2px solid;
        padding: 0.5em 2em;
        transition: ease-in-out 0.2s;
        width: 50%;
        text-align: center;
    }

    a:hover {
        cursor: pointer;
        background-color: var(--WhiteFy);
        color: var(--DarkBlueFy);
    }

    img {
        height: 50%;
        width: 65%;
    }
}