@import 'tailwindcss';

.inputContainer {
    display: flex;
    flex-direction: column;
    width: fit-content;

    label {
        width: fit-content;
    }

    .inputField {
        width: 300px;
        border-bottom: 1px solid #C1C7CD;
        font-size: 14px;
        padding: 10px 0 2px 0;
    }
}