@import 'tailwindcss';

.addPaciente {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border: 2px solid #133857;
    background-color: var(--LightGrayFy);
    border-radius: 24px;
    padding: 40px 96px;

    .div-add-paciente{
        background-color: var(--WhiteFy);
        padding: 2em;
        border-radius: 2em;
    }

    h2 {
        font-size: medium;
        font-weight: 600;
        padding: 8px 0;
        position: relative;
        display: block;
    }

    section {
        /* background-color: #133857; */
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1em;
        justify-content: space-between;
        align-items: center;
    }

    label {
        margin-top: 16px;
        font-size: 16px;
    }

    input[type='checkbox'] {
        margin-top: 16px;
    }

}