/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --DarkestBlueFy: #133857;
  --DarkBlueFy: #144B78;
  --LightBlueFy: #1B66A4;
  --WhiteFy: #F5F5F5;
  --RedFy: #AD1C03;
  --BlackFy: #000000;
  --LightGrayFy: #DDE1E6;
  --GrayFy: #A5A5A5;
  --RedAlertFy: #FF7878;
  --YellowAlertFy: #FFD078;
  --GreenAlertFy: #78FF8C;
  --BlueAlertFy: #78BEFF;
}



* {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  scroll-behavior: smooth;
}

.App{
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.app-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1em 10em;
  background-color: var(--WhiteFy);
  border-bottom: var(--GrayFy) 1px solid;

  ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 2em;
  }

  a{
    text-decoration: none;
    font-size: small;
    color: var(--BlackFy);
  }
  a:hover{
    color: var(--LightBlueFy);
    font-weight: 600;
  }

  #agendfy_logo {
    width: 5em;
  }

  div {
    display: flex;
    gap: 1em;
  }
}

button {
  border: none;
  padding: 1em 2em;
  font-weight: 500;
  font-size: small;
}

#btn_secundario {
  background-color: var(--WhiteFy);
  border: var(--LightBlueFy) 2px solid;
  color: var(--LightBlueFy);
  transition: ease-in-out 0.3s;
}
#btn_secundario:hover{
  cursor: pointer;
  background-color: var(--LightBlueFy);
  border: var(--LightBlueFy) 2px solid;
  color: var(--WhiteFy);
}

#btn_primario {
  background-color: var(--LightBlueFy);
  border: var(--LightBlueFy) 2px solid;
  color: var(--WhiteFy);
  transition: ease-in-out 0.3s;
}
#btn_primario:hover{
  cursor: pointer;
  background-color: var(--DarkestBlueFy);
}


.section-home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3em 10em;
  background: linear-gradient(60deg, var(--WhiteFy) 60%, var(--DarkBlueFy) 60%);
  
  .div-buttons{
    display: flex;
    gap: 1em;
  }
}

.card-img {
  width: 32em;
  border-radius: 1em;
  border: var(--WhiteFy) 2px solid;
}

.divisao {
  background-color: var(--WhiteFy);
  color: var(--BlackFy);
  font-size: xx-large;
  display: flex;
  justify-content: center;
  padding: 1em 10em;
  gap: 3em;
}

.section-solucao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  width: 100%;
  background-color: var(--WhiteFy);
  h1{
    color: var(--DarkBlueFy);
    font-size: x-large;
    margin: 0;
  }
  h3{
    font-size: medium;
  }
}

.content-solucao {
  display: flex;
  justify-content: space-between;
  padding: 3em 10em;
  background: linear-gradient(120deg, var(--WhiteFy) 40%, var(--DarkBlueFy) 40%);
  .card-img{
    width: 24em;
  }
}


.cards-solucao {
  display: flex;
  flex-wrap: wrap;
  flex: 2;
  justify-content: center;
  align-items: center;
  gap: 3em;
  font-size: small;

  div {
    width: 16em;
    height: 8em;
    background: linear-gradient(11deg, var(--WhiteFy) 80%, var(--LightBlueFy) 80%);
    padding: 1em;
    border-radius: 1em;
  }
}

.card-icon{
  width: 2em;
}

.section-nossa-essencia{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 3em 10em;
  .boxes{
    display: flex;
    gap: 2em;
  }

  h1{
    margin: 0;
    color: var(--LightBlueFy);
  }
  
  button{
    margin: 2em;
  }
    


  .box-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: var(--GrayFy) 1px solid;
    text-align: center;
    align-items: center;
    font-size: small;
    padding: 1em;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);

    img{
      width: 6em;
    }
  }
}

footer{
  background-color: var(--DarkestBlueFy);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2em 4em;

  ul{
    display: flex;
    gap: 1em;
    li{
      list-style-type: none;

      a{
        color: var(--WhiteFy);
        text-decoration: none;
        font-size: smaller;
      }
    }
  }

  p{
    color: var(--WhiteFy);
  }
}

@media (max-width: 1000px){
  .content-solucao{
    flex-direction: column;
    align-items: center;
  }
}