@import "tailwindcss";

.section-nossa-essencia {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0em 10em;
    padding-top: 4em;

    .boxes {
        display: flex;
        gap: 2em;
    }

    h1 {
        margin: 0;
        color: var(--LightBlueFy);
    }

    button {
        margin: 2em;
    }



    .box-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: var(--GrayFy) 1px solid;
        border-radius: 12px;
        text-align: center;
        align-items: center;
        font-size: small;
        padding: 1em;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
        transition: ease-in-out 0.3s;
        img {
            width: 6em;
        }

        &:hover{
            transform: scale(1.05);
            background-color: var(--LightBlueFy);
            color: var(--WhiteFy);
        }
    }
}